<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cab.user">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme.Base">
        <activity android:name=".ui.MainActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c88ea74e9bdbebdc8e6e60d05fbccdaa0f7e7d93" />

        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyChOBcXUktNUJ9Uh8DFqIKEwp_VXeBkI9k" />


        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/fullscreen" />
        <activity
            android:name=".ui.OtpActivity"
            android:theme="@style/fullscreen" />
        <activity android:name=".ui.MyRideActivity" />
        <activity android:name=".ui.RideDetailsActivity" />
        <activity android:name=".ui.PaymentOptionActivity" />
        <activity android:name=".ui.RideDetailActivity" />
        <activity android:name=".ui.MyRidesDetailsActivity"></activity>
        <activity android:name=".ui.MyRidesActivity"
            android:label="@string/myrides"></activity>

        <activity android:name=".ui.ProfileActivity"></activity>
    </application>

</manifest>